* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
display:flex;
justify-content:center;
align-items:center;
min-height: 100vh;
background: #d3d9f0;
}
.wrapper{
	width: 65vmin;
	height: 70vmin;
	background:#1f284d;
	border-radius: 5px;
	display: flex;
	flex-direction:column;
	overflow:hidden;
}
.game-details{
	color:#fff;
	font-size:1.2rem;
	font-weight: 500;
	padding: 20px 27px;
	display:flex;
	justify-content: space-between;
}
.play-board{
	width:100%;
	height:100%;
	grid-template: repeat(30, 1fr) / repeat(30, 1fr);
	background: #0a1338;
	display:grid;
}
.play-board .food{
	background:red;
}
.play-board .head{
	background:aqua;
}
.score{
	display:flex;
   justify-content:center;
   align-items:center;
}